
<div class="page-header">

<h1>About</h1>
<div id="div1" class="field">

  valor 1<p ><%= text_field_tag 'valor1'%></p>
  valor 2<p ><%= text_field_tag 'valor2'%></p>
  resultado<p ><%= text_field_tag 'resultado'%></p>

  <button id="miboton">haz click</button>


</div>

</div>
